<nav class="navbar navbar-expand-lg main-navbar sticky">
  <div class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li>
        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
          <i data-feather="align-justify"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
          <i data-feather="maximize"></i>
        </a>
      </li>
    </ul>
    <h2 style="margin-top:8px;"></h2>
  </div>

  <!-- Flash Messages (Node + EJS Version) -->
  <div style="margin-left:40px;">

    <% if (typeof success !== 'undefined') { %>
      <div class="flash-message" style="color: green; font-size: 1.2rem; position: relative; display: inline-flex; align-items: center; padding: 5px 30px 5px 0;">
        <span class="flash-text"><%= success %></span>
        <div class="flash-underline"></div>
       
      </div>
    <% } %>

    <% if (typeof error !== 'undefined') { %>
      <div class="flash-message" style="color: red; font-size: 1.2rem; position: relative; display: inline-flex; align-items: center; padding: 5px 30px 5px 0;">
        <span class="flash-text"><%= error %></span>
        <div class="flash-underline"></div>
      </div>
    <% } %>

  </div>

        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle">
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread"> <span
                    class="dropdown-item-icon bg-primary text-white"> <i class="fas
												fa-code"></i>
                  </span> <span class="dropdown-item-desc"> Template update is
                    available now! <span class="time">2 Min
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="far
												fa-user"></i>
                  </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                      Sugiharto</b> are now friends <span class="time">10 Hours
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                      class="fas
												fa-check"></i>
                  </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                    moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                      Hours
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-danger text-white"> <i
                      class="fas fa-exclamation-triangle"></i>
                  </span> <span class="dropdown-item-desc"> Low disk space. Let's
                    clean it! <span class="time">17 Hours Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Welcome to Otika
                    template! <span class="time">Yesterday</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> 
              <img alt="Admin Image"
     src="<%= BASE_URL %>/<%= session.admin && session.admin.image ? session.admin.image : 'assets/img/user.png' %>"
     class="user-img-radious-style">

                
                <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
             
      <a href="#" class="dropdown-item has-icon">
  <i class="far fa-envelope"></i>
  <%= (session.admin?.email || 'Guest').toLowerCase() %>
</a>


             <a href="/editProfile/<%= session.admin?.id %>" class="dropdown-item has-icon">
  <i class="far fa-user"></i> Profile
</a>

              
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
</nav>

<style>
.flash-underline {
  height: 4px;
  background-color: currentColor;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: underlineShrink 3s linear forwards;
}

@keyframes underlineShrink {
  from { width: 100%; }
  to { width: 0%; }
}

.flash-message {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0%, 80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  setTimeout(() => {
    document.querySelectorAll('.flash-message').forEach(el => el.remove());
  }, 3000);
});
</script>
